<div class="modal fade" id="delete-annonce-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{ "Supprimer l'article : '" ~ annonce.title ~ "'"}}</h5>
				<span aria-hidden="true" class="bold-brown close" data-dismiss="modal" aria-label="Close">
					<i class="fas fa-times-circle fa-2x"></i>
				</span>
			</div>
			<div class="modal-body">
				Confirmer vous la suppression de l'annonce?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>
				<a type="button" class="btn btn-primary" onclick="document.getElementById('delete-annonce-{{ annonce.id }}').submit()" )>confirmer</a>
			</div>
		</div>
	</div>
</div>
