<div class="row bg-white p-5" style="border-top:1px solid #ededed;min-height:9em;">
	<div class="col-md-7 col-sm-12 text-center">
		<small class="text-muted">Sébastien Flouvat - &copy; DonneLaPatte novembre 2021</small><br>
		<small class="text-muted">Tous droits réservés. Toute copie, y compris partielle, est illégale.</small><br>
		<ul class="d-inline-flex flex-row justify-content-center ">
			<small class="mx-1">
				<li class="bold-green">Mentions légales
				</li>
			</small>
			<small class="mx-1">
				<li>
					<a href="{{ path('app_contact') }}" class="bold-green">Contact</a>
				</li>
			</small>
			<small class="mx-1">
				<li>
					<a href="#" class="bold-green">Sitemap</a>
				</li>
			</small>
			<small class="mx-1">
				<li>
					<a href="#" class="bold-green">Conseils</a>
				</li>
			</small>
		</ul>

	</div>
	<div class="col-md-5 col-sm-12 text-center py-auto">
		<img src="{{ asset('images/logo1.png') }}" alt="logo" width="280" height="70">
	</div>
</div>
