<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-right" style="border:none;">
				<span aria-hidden="true" class="bold-brown close" data-dismiss="modal" aria-label="Close">
					<i class="fas fa-times-circle fa-2x"></i>
				</span>
			</div>
			<div class="modal-body">
				Vous devez vous connecter pour voir les informations
			</div>
			<div class="modal-footer" style="border:none;">
				<a href="{{ path('app_login') }}" class="btn item-green border">Je me connecte</a>
			</div>
		</div>
	</div>
</div>
