<nav class="nav my-3 list_result d-flex justify-content-center">
	<a href="{{ path('app_home') }}" class="{{ app.request.attributes.get('_route') == "app_home" ? 'list_result_active' : '' }}">Tous</a>
	<a href="#">Chiens perdus</a>
	<a href="#">Chiens trouvés</a>
	<a href="#">Chats trouvés</a>
	<a href="#">Chats trouvés</a>
</nav>
