<div class="w-100" style="padding: 0 20px; background-color:#4287f5; color:white; border-radius:20px;position:relative;z-index:10;">
	<h5 class="py-1 px-auto fst-italic">
		<span class="text-white">
			<i class="fab fa-facebook-square"></i>
		</span>
		Nos animaux sur facebook</h5>
</div>
<div class="p-4 mb-3 bord-light bg-white" style="margin-top:-8px;border-radius:20px;margin-top:-40px;">
	<p class="mb-0 mt-5 bold-brown">Aidez nous à retrouver nos animaux perdus</p>
</div>

<div class="w-100" style="padding: 0 20px; background-color:#a67256; color:white; border-radius:20px;position:relative;z-index:10;">
	<h5 class="py-1 px-auto fst-italic">
		<span class="text-white">
			<i class="fas fa-paw"></i>
		</span>
		Rechercher un animal</h5>
</div>
<div class="p-4 mb-3 bord-light bg-white" style="margin-top:-8px;border-radius:20px;margin-top:-40px;">
	<p class="mb-0 mt-5 bold-brown">Utilisez notre outil de recherche pour tenter de localiser votre compagnon à quatre pattes</p>
</div>

<div class="w-100" style="padding: 0 20px; background-color:green; color:white; border-radius:20px;position:relative;z-index:10;">
	<h5 class="py-1 px-auto fst-italic">
		<span class="text-white">
			<i class="fas fa-chart-bar"></i>
		</span>
		Statistiques</h5>
</div>
<div class="p-4 mb-3 bord-light bg-white" style="margin-top:-8px;border-radius:20px;margin-top:-40px;">
	<p class="mb-0 mt-5 bold-brown">Nombre d'annonces :
		{{ total }}
		<br>
		Nombre d'inscrits : 50</p>
</div>


<div class="w-100" style="padding: 0 20px; background-color:#96e0a1; color:white; border-radius:20px;position:relative;z-index:10;">
	<h5 class="py-1 px-auto fst-italic">
		<span class="text-white">
			<i class="far fa-folder-open"></i>
		</span>
		Archives</h5>
</div>
<div class="p-4 mb-3 bord-light bg-white" style="margin-top:-8px;border-radius:20px;margin-top:-40px;">
	<div class="p-4 ">
		<ol class="list-unstyled mb-0 list-archive bold-brown">
			<li>
				<a href="#">March 2021</a>
			</li>
			<li>
				<a href="#">February 2021</a>
			</li>
			<li>
				<a href="#">January 2021</a>
			</li>
			<li>
				<a href="#">December 2020</a>
			</li>
			<li>
				<a href="#">November 2020</a>
			</li>
			<li>
				<a href="#">October 2020</a>
			</li>
			<li>
				<a href="#">September 2020</a>
			</li>
			<li>
				<a href="#">August 2020</a>
			</li>
			<li>
				<a href="#">July 2020</a>
			</li>
			<li>
				<a href="#">June 2020</a>
			</li>
			<li>
				<a href="#">May 2020</a>
			</li>
			<li>
				<a href="#">April 2020</a>
			</li>
		</ol>
	</div>

</div>
<div class="w-100" style="padding: 0 20px; background-color:green; color:white; border-radius:20px;position:relative;z-index:10;">
	<h5 class="py-1 px-auto fst-italic">
		<span class="text-white">
			<i class="far fa-thumbs-up"></i>
		</span>
		Partenaires</h5>
</div>
<div class="p-4 mb-3 bord-light friend-list bg-white" style="margin-top:-8px;border-radius:20px;margin-top:-40px;">
	<p class="mb-0 mt-5 bold-brown">

		<a href="https://fr.wikipedia.org/wiki/Chien" target="blank">La compagnie des chiens</a>
		<br>
		<a href="https://www.la-spa.fr/adoption-chat" target="blank">Site de la SPA</a>
		<br>
		<a href="https://www.croquetteland.com/fr/chat.html" target="blank">CroquetteLand.fr</a>
	</p>
</div></div></div>
