{% extends 'layouts/base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="p-5">

		<div class="row g-5">
			<div class="col-md-8 rad-20 p-5 bord-light" style="background-color:#daf5e6;position:relative">
				{# <h3 class="pb-4 mb-4  border-bottom bold-brown"> #}
				{# Les dernières annonces #}
				{# </h3> #}

					<div class="w-100" style="padding: 0 20px; background-color:#219c7d; color:white; border-radius:20px;position:absolute;top:0;right:0;left:0;z-index:10;"> <h5 class="py-1 px-auto fst-italic">
						<span class="text-white">
							<i class="fas fa-paw"></i>
						</span>
						Rechercher un animal</h5>
				</div>
			</div>

			<!-- start right col -->
			<div class="col-md-4">
				<div class="position-sticky" style="top: 2rem;">
					{{ include('partials/section_right.html.twig')}}
				</div>
			</div>
		{% endblock %}
