body {
    background-image: url('/public/images/background4.jpg');
    background-repeat: repeat;
}

/* generic */

li {
    list-style: none;
}

.brown {
    background-color: #f5ede6;
}

.text-green {
    color: #219c7d;
}

.bold-brown {
    color: #804d32;
    font-weight: bold;
}

.slim-brown {
    color: #804d32;
}

.rad-20 {
    border-radius: 20px;
}

.bord-light {
    border: 1px solid lightgrey;
}

/* nav */

.main-nav {
    background-color: #219c7d;
    border-radius: 15px;
}

.main-nav li {
    padding: 0 24px;
    font-size: 16px;
}

.main-nav li:hover {
    opacity: 0.8;
}

.sub-nav-item {
    padding: 5px 25px;
    color: white;
    border-radius: 20px;
    margin: 8px 18px;
}

.sub-nav-item:hover {
    text-decoration: none;
    color: white;
}

.item-green {
    background-color: #96e0a1;
}

.item-red {
    background-color: #ab694b;
}

/* home.main*/

.list-archive li a, .list-archive li a:hover, .friend-list p a, .friend-list p a:hover {
    text-decoration: none;
    color: #804d32;
}

.list-archive li a:hover, .friend-list p a:hover {
    color: #219c7d;
}

.link_card {
    background-color: #ededed;
    border: 1px solid grey;
    padding: 4% 5%;
}

.list_result a {
    padding: 8px 20px;
    background-color: white;
    border: 2px solid lightgrey;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    color: grey;
}

.list_result a:hover {
    background-color: #804d32;
    color: white;
}

/* login */

.form-control:focus, li:focus, a:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    background-color: #ededed;
    border: 2px solid #804d32;
}

.btn-login {
    background-color: #219c7d;
    color: white;
}

/* show annonce */

.list-group-item {
    border: none;
}

.list-group li {
    background: white;
}

.list-group li:nth-child(odd) {
    background: #f5ede6;
}

.list-group-item .title_span_show {
    display: inline-block;
    width: 140px;
}

.contact-card {
    padding: 15px;
    background-color: #96e0a1;
    border: 1px solid #219c7d;
}

.contact-card a {
    display: inline-block;
    padding: 7px 0px;
    background-color: #ededed;
    border: 3px solid #219c7d;
    margin-top: 2px;
    text-decoration: none;
}

.contact-card a:hover {
    color: #804d32;
}

@media (max-width: 767px) {
    .button_link_card {
        margin: 20px 0;
    }
}

@media (max-width: 780px) {
    .dog-banner {
        display: none;
    }
}

@media (max-width: 995px) {
    .main-nav li {
        padding: 0 15px;
        font-size: 14px;
    }
}